.vh100-x-mobile {
    height: 100vh;
  }
  
  @media (max-width: 768px) {
    .vh100-x-mobile {
      height: auto;
      padding-bottom: 100px;
      padding-top: 150px;
    }
  }
  
  .our_values {
    word-spacing: 22px;
  }
  
  @media (min-width: 768px) {
    .story-para {
      padding-right: 144px;
    }
  }
  
  @media (min-width: 1200px) {
    .our_para {
      margin-right: 0px;
    }
  }
  
  .nav-item-heading {
    color: #ffbf00;
    text-transform: uppercase;
    font-weight: 700;
  }
  
  .fab-nav-icons {
    padding-right: 10px;
    padding-left: 10px;
    /*font-size: 29px;*/
  }
  
  .services-items {
    text-align: center;
    padding-right: 0px;
    margin-left: 5px;
    margin-right: 5px;
    width: 130px;
    font-size: 18px;
    text-transform: capitalize;
    overflow: hidden;
  }
  
  .services-box {
  }
  
  .service-heading {
    text-align: center;
    padding-bottom: 35px;
  }
  
  .services-items-name {
    height: 70px;
    font-size: 15px;
    width: 100%;
    text-align: center;
  }
  
  .services-items-image {
    width: 90px;
  }
  
  .services-items:hover .services-items-image {
    transform: scale(1.10);
    transition: all ease .3s;
  }
  
  .nav-item {
    text-align: center;
  }
  
  .section-container {
    min-height: 100vh;
  }
  
  @media (min-width: 300px) {
    .navbar-nav {
      min-height: calc(100vh - 85px);
    }
  }
  
  @media (min-width: 992px) {
    .navbar-nav {
      min-height: auto;
    }
  }